*.vtk
*.ppm
*.mp4
a.out
*.swp
*.dat
*.txt
snapshot*
dump 
dump* 
trash
*.html
snapshot*
*.mpg
t
alpha* 
fail
*.err
log
*.s
*.py
*.tst
dump*
data*
alpha*
interface_profile_t*
snap*
bview*
*.zip 
*.tar*
